[2013-05-28 16:45] tinganho opened #2 "Add better opt-parser"

[2013-05-28 16:46] tinganho opened #3 "Add pagination in web interface"

[2013-05-28 16:47] tinganho opened #4 "Refactor code base"

[2013-06-01 18:42] tinganho opened #5 "Add favicon"

[2013-06-01 18:42] tinganho opened #6 "Add localization cookie"

[2013-06-03 06:49] #6 closed, assigned to nobody

[2013-06-03 06:50] #3 closed, assigned to nobody

[2013-06-03 06:50] tinganho opened #7 "Fix bug with update in production"

[2013-06-04 14:30] #7 closed, assigned to nobody

[2013-06-04 14:33] tinganho opened #9 "Fix styling issues with mobile design"

[2013-06-04 15:23] #5 closed, assigned to nobody

[2013-06-05 02:31] tinganho opened #11 "Make the search work"

[2013-06-05 02:34] #9 closed, assigned to nobody

[2013-07-04 04:05] #11 closed, assigned to nobody

[2013-07-04 04:06] tinganho opened #13 "Make a new menu bar and remove "Translations" & "Statistics""

[2013-07-06 17:25] tinganho opened #14 "Make translation update to prompt for deleted keys"

[2013-07-06 17:25] tinganho opened #15 "Make translation update to prompt and input new translation for new keys"

[2013-07-06 17:28] tinganho opened #16 "Conditional translation"

[2013-07-06 17:29] tinganho opened #17 "Add back grunt target"

[2013-07-06 17:50] tinganho opened #18 "Add 404 mention"

[2013-07-07 01:48] #17 closed, assigned to nobody

[2013-07-10 05:38] tinganho opened #19 "Change name to gt instead grunt-translate"

[2013-07-12 10:35] tinganho opened #20 "Quotation doesn't work on translation interface"

[2013-07-12 10:36] tinganho opened #21 "A function call in translation vars doesn't work"

[2013-07-13 07:57] #21 closed, assigned to nobody

[2013-07-13 11:05] #20 closed, assigned to nobody

[2013-07-19 08:40] tinganho opened #22 "Load more button shouldn't be visible if page contains less than 20 translations"

[2013-07-21 10:24] #22 closed, assigned to nobody

[2013-07-21 10:25] #19 closed, assigned to nobody

[2013-08-09 08:50] tinganho opened #23 "Trim update values"

[2013-10-09 22:35] #14 closed, assigned to nobody

[2013-10-09 22:35] #2 closed, assigned to nobody

[2013-11-10 06:54] #23 closed, assigned to nobody

[2013-11-10 06:55] #13 closed, assigned to nobody

[2013-11-30 10:04] #15 closed, assigned to nobody

[2013-12-01 21:26] tinganho opened #24 "Add new type of JSON document store"
It should stor JSON documents like below:

[code]

[2014-01-02 07:15] #24 closed, assigned to nobody

[2014-01-21 05:01] tinganho opened #25 "Change file format storage"

[2014-01-22 07:56] #25 closed, assigned to nobody

[2014-01-22 08:02] tinganho opened #26 "Validate gt.json values"
There should be at least these variables set:
- [ ] defaultLocale
- [ ] locales
- [ ] output
- [ ] source

[2014-01-24 01:27] tinganho opened #27 "Cursor on migrate script is sometimes misplaced"

[2014-01-24 01:28] tinganho opened #28 "Delete causes undefined string in .locale file"

[2014-01-25 14:42] #28 closed, assigned to nobody

[2014-01-25 21:19] #27 closed, assigned to nobody

[2014-03-01 15:47] sindresorhus opened #29 "grunt-contrib-translate - Don't use the grunt-contrib prefix"
The `grunt-contrib` prefix is reserved for officially supported grunt tasks in the [grunt org](https://github.com/gruntjs/).

Please rename this task to not use the `contrib` word both here and on npm.

_(I'm on the [Grunt team](https://github.com/orgs/gruntjs/members))_

[2014-03-03 14:21] #29 closed, assigned to nobody

[2014-03-10 03:05] #4 closed, assigned to nobody

[2014-03-31 04:29] tinganho opened #30 "It should store variables with mustache syntax"

[2014-03-31 07:47] #30 closed, assigned to nobody

[2014-04-01 11:20] tinganho opened #31 "Add then conditions"

[2014-04-01 11:20] #31 closed, assigned to nobody

[2014-04-01 11:21] tinganho opened #32 "Add search"

[2014-04-01 11:21] tinganho opened #33 "Add pagination"

[2014-05-04 10:52] #16 closed, assigned to nobody

[2014-05-16 14:57] tinganho opened #34 "Add show CLI method"
As a developer. He should be able to show all language values associated with one translation key.

gt show SOME_TRANSLATION_KEY
blablabla.

// Also with tagged references
gt show @1
gt show %1

[2014-05-16 15:05] tinganho opened #35 "add move condition groups"

[2014-05-16 15:07] tinganho opened #36 "Change language"

[2014-06-01 11:28] tinganho opened #37 "Add translation key instead of id in URL. Deprecate id"

[2014-06-01 15:52] #37 closed, assigned to nobody

[2014-06-01 15:52] tinganho opened #38 "Change one locale values doesn"

[2014-06-01 16:38] #38 closed, assigned to nobody

[2014-06-14 04:12] tinganho opened #40 "Updated should output new keys"

[2014-06-16 01:41] tinganho opened #41 "Update test suit"

[2014-06-21 10:44] #36 closed, assigned to nobody

[2014-06-21 10:45] tinganho opened #42 "Pagination"

[2014-06-21 10:46] #33 closed, assigned to nobody

[2014-06-21 10:49] tinganho opened #43 "Source code: commit and compile"

[2014-06-22 12:43] tinganho opened #44 "Document properties are shared between pages"

[2014-06-22 12:51] tinganho opened #45 "Navigate to an entry directly and navigate back to translations doesn't work"

[2014-06-22 12:51] #40 closed, assigned to nobody

[2014-06-22 13:11] #44 closed, assigned to nobody

[2014-06-22 16:22] tinganho opened #46 "NO_TRANSLATION title on empty translation values"

[2014-06-24 09:08] tinganho opened #47 "Bash escape in strings should remove backslashes"

[2014-06-24 09:20] #47 closed, assigned to nobody

[2014-06-25 02:49] tinganho opened #48 "Navigate /en-US should take you to /en-US/translations"

[2014-06-25 03:22] tinganho opened #49 "Get-translation should use itself as a translation service"

[2014-06-25 07:02] #42 closed, assigned to nobody

[2014-06-25 07:57] #48 closed, assigned to nobody

[2014-06-26 08:36] tinganho opened #50 "Update composer"

[2014-06-27 05:42] #32 closed, assigned to nobody

[2014-06-27 05:42] #50 closed, assigned to nobody

[2014-06-28 02:47] #49 closed, assigned to nobody

[2014-07-03 16:55] tinganho opened #51 "Add loading spinners"

[2014-07-03 16:55] tinganho opened #52 "Add back button to translation page"

[2014-07-03 17:26] tinganho opened #53 "Document all programming configurations"

[2014-07-07 02:56] #51 closed, assigned to nobody

[2014-07-12 03:38] #52 closed, assigned to nobody

[2014-07-12 03:39] tinganho opened #54 "Add roboto font to windows"

[2014-07-12 04:05] #54 closed, assigned to nobody

[2014-07-12 04:14] tinganho opened #55 "CLI method for getting all the unset translations"

[2014-07-12 09:42] #55 closed, assigned to nobody

[2014-07-12 10:04] tinganho opened #56 "Interface pagination if it is showing exactly the log length, the load more button doesn't remove itself"

[2014-07-12 10:25] #56 closed, assigned to nobody

[2014-07-12 13:25] tinganho opened #57 "configure production build"

[2014-07-25 07:17] tinganho opened #58 "writeTranslation should re-use writeSingleLocaleTranslation"

[2014-07-26 16:02] #58 closed, assigned to nobody

[2014-08-01 02:00] #45 closed, assigned to nobody

[2014-08-04 10:40] #53 closed, assigned to nobody

[2014-08-14 14:39] tinganho opened #59 "Add 404 page"

[2014-09-10 10:22] #46 closed, assigned to nobody

[2014-10-01 17:05] #35 closed, assigned to nobody

[2014-10-18 14:53] guigrpa opened #60 "Web interface asking for NODE_ENV"
I'm checking i10ns out, and it seems very promising, but I cannot get the "web interface" to function, and the documentation on this topic is sparse. I keep getting the following error message: `[:(] You forgot to set your environmental variable NODE_ENV?`.

I'm on Yosemite (Mac OS X 10.10) and Node v0.10.32.

[2014-10-18 15:02] #60 closed, assigned to nobody

[2014-10-19 09:20] guigrpa opened #61 "Separate compiled outputs for different languages"
I believe it would be better to allow locales for different languages to be separated in different files, not merged altogether in a single, (eventually) enormous file... Don't you think? Common functionalities may also be provided in an additional JS module, even if it may complicate the API a bit...

[2014-10-20 08:07] #61 closed, assigned to nobody

[2014-10-20 13:03] #41 closed, assigned to nobody

[2014-10-22 04:14] #59 closed, assigned to nobody

[2014-10-22 04:14] #57 closed, assigned to nobody

[2014-10-22 04:14] #43 closed, assigned to nobody

[2014-10-22 04:14] #26 closed, assigned to nobody

[2014-10-22 04:14] #18 closed, assigned to nobody

[2014-11-02 04:38] tinganho opened #63 "Add scoped number compilation"
Instead of

[code]

use:

[code]

[2014-11-02 09:27] #63 closed, assigned to nobody

[2014-11-04 06:59] tinganho opened #64 "Date specification"
Dateformat:
# Period

[code]
# Setup startofweek

[code]
# Variable nesting for ordinal

[code]

[2014-11-13 04:20] tinganho opened #65 "Date input"
[code]

[2014-12-26 20:05] #65 closed, assigned to nobody

[2014-12-26 20:05] #64 closed, assigned to nobody

[2015-01-09 13:38] chevdor opened #66 "Issue in the samples"
in http://l10ns.org/docs.html#gettingstarted

See below, there is requireLocalization*s* and requireLocalization

var requireLocalizations = require('path/to/output/all.js');
var l = requireLocalization('en-US');

[2015-01-10 18:24] tinganho commented on #66
Hi Chevdor,

I will update the docs, thanks for reporting!

[2015-01-10 20:25] #66 closed

[2015-01-11 20:37] ideadapt opened #67 "number grouping separator escaping"
When I compile with a `de-CH` locale, l10ns outputs unescaped literals resulting in invalid json.
[code]

[2015-01-11 20:40] tinganho commented on #67
Ok I will try to resolve this issue and try to push out a release directly so you can use l10ns.

[2015-01-11 22:31] tinganho commented on #67
I just fixed this issue in `l10ns@1.0.3`. Just run `sudo npm install l10ns -g`and it will install the latest version of `l10ns`. Let me know if you have any problem. If it is any critical I can fix it directly.

[2015-01-11 22:31] #67 closed

[2015-01-12 00:06] ideadapt commented on #67
@tinganho thx for your immediate action. it works now.

[2015-01-14 15:30] nmn opened #68 "Interface not working"
`l10ns interface` command is not working

with node 0.11.14
`Cannot read property 'filename' of undefined`

with node 0.10.33
[code]

I'm not being able to find out more to help fix this.

Thanks for the amazing utility.

[2015-01-14 15:50] tinganho commented on #68
Do you mind sharing which OS you are using? I will look into this issue tomorrow.

[2015-01-14 16:19] nmn commented on #68
Using a Macbook Air, on Yosemite.

[2015-01-14 23:31] tinganho commented on #68
I'm not able reproduce the problem you have at least not in node v0.10.33 on a Macbook Pro. Can you try to run the installation again. "npm install l10ns -g"? Also check that the installation has no interrupted errors.

[2015-01-15 12:24] nmn commented on #68
Hi.
I tried everything. I re-installed l10ns, I tried a different computer, I updated npm, but I get exactly the same results.

Perhaps I'm doing something wrong. I'm only trying to follow the guide on the website with a test project. This is what my file structure looks like:
[code]

test.js is -
[code]

l10ns.json is
[code]

Am I missing something? Thanks.

[2015-01-15 12:32] tinganho commented on #68
The directory `test/localization` should end with an s (`test/localizations`) ?

[2015-01-15 12:39] nmn commented on #68
it does. Sorry for the error. I was more worried if I need to write code to make the interface work.

[2015-01-15 13:03] tinganho commented on #68
Ok the interface should work. It just need the storage files. Everything seems ok. Though I think the installation of L10ns is still wrong. L10ns uses `libxmljs` to parse some XML files.

Can you just check if we are using the same libxmljs version? Just check the file /usr/local/lib/l10ns/node_modules/libxmljs/package.json and then the property `version`? I'm using 0.11.1

[2015-01-15 17:40] nmn commented on #68
I have the same version.

Though the path for me was: `/usr/local/lib/node_modules/l10ns/node_modules/libxmljs/package.json`

I'm guessing that was just a typo.

[2015-01-15 23:01] tinganho commented on #68
I just found this issue: https://github.com/rvagg/node-levelup/issues/240

And I have been able to reproduce your bug. After installing node 0.11.13. It seems like this is an node-issue

[2015-01-15 23:10] tinganho commented on #68
Though I only got the linking issue not the undefined issue. I think you somehow you must do a clean install because it works for me when I downgrade to node 0.10.35 again.

[2015-01-19 09:28] nmn commented on #68
So, I re-installed l10ns and now it works. Looks like the issue happens if you install when Node 0.11 is active.

Thanks for the help!

[2015-01-19 09:28] #68 closed

[2015-01-19 12:05] tinganho commented on #68
Ok good @nmn I will soon launch L10ns with Dateformat and timezone support. So that there is no need to use http://momentjs.com/. And in that release I throw out all C-binding libraries. So this issue will not appear if you want to use L10ns with node 0.11.

[2015-01-20 08:47] #34 closed

[2015-01-22 08:52] tinganho opened #69 "Generic Location TimeZone ID"
Generic Location TimeZone ID should use CLDR data.

[2015-01-26 16:16] chevdor opened #70 "update issue on windows"
Hi,

I am getting the following message on windows:
 D:\Projects\l10ns>l10ns update
  [added] PAGE
  [error] Localizations update failed

 D:\Projects\l10ns>l10ns log
  ENOENT, open 'D:\Projects\10ns\D:\Projects\l10ns\localizations\en-US.json'

[2015-01-26 16:51] chevdor commented on #70
I guess the issue is in index.js around
[code]

[2015-01-26 16:58] chevdor commented on #70
I guess a dirty fix would be to change:
[code]
into
[code]
in index.js

[2015-01-27 02:40] tinganho commented on #70
Thanks @chevdor for reporting it. I will try to push out a release ASAP since this is a critical bug.

[2015-01-27 13:59] tinganho commented on #70
@chevdor It is now launched l10ns@1.0.1

[2015-01-27 13:59] #70 closed

[2015-01-28 07:50] tinganho opened #71 "Look for ways to improve IANA timezone offset data"

[2015-01-28 14:06] chevdor opened #72 "l10ns --version returns the version, -V not"
Hi,

I installed l10ns globally.
Running l10ns --version works fine from a random location.
Running l10ns -V from the same random location (= no l10ns project) complains that I am not inside a l10ns project.

[2015-01-29 03:18] tinganho commented on #72
Thanks @chevdor I will try to fix this issue until next release. Which will include date formatting.

[2015-02-01 01:25] tinganho commented on #72
Fixed now on master

[2015-02-01 01:25] #72 closed

[2015-02-04 09:09] #69 closed

[2015-02-04 09:41] tinganho opened #73 "Remaining fixes for 2.0"
- [x] New landing page
- [x] Use cldr-data and cldrjs
- [x] Fix content overflowing on locale picker
- [x] Fix locale to languageModifier mapping
- [x] Fix compilation of locale to languageModifier mapping
- [x] Insight to use child process to speed up CLI methods
- [x] Fix animation issue with fade-in-fade-out of main content
- [x] Fix docs that says `Tuessay`
- [x] Fix docs for period
- [x] Remo

[2015-02-09 18:47] focusaurus opened #74 "Use req.locals.l in docs"
The docs for express integration have:

[code]

I'd suggest changing this to the following to ensure request-specific data (the cookie's locale value) doesn't leak globally and contaminate unrelated requests:

[code]

[2015-02-10 00:28] tinganho commented on #74
@focusaurus seems reasonable let me just try it out first.

[2015-02-13 09:51] tinganho opened #77 "Make L10ns BCP-47 compliant and drop locale code refs"
Right now language tags such us es-419 doesn't work. But also locale is some derived from old time and we should probable drop it.

BCP 47 standard:
https://tools.ietf.org/html/bcp47

[2015-02-13 10:43] #77 closed

[2015-02-16 09:01] tinganho commented on #74
@focusaurus I have now made this change. Though I wrote a new middleware to handle it. I recommend using [request-language](https://github.com/tinganho/express-request-language) for figuring out a request's language using `Accept-Language` header at the first request and using stored cookie in all other.

I decided to use `req.localizations` instead of `req.locals.l` instead.

[2015-02-16 09:01] #74 closed

[2015-02-17 16:57] tinganho opened #78 "Implement new landing page"
http://invis.io/4W28RG06Q

[2015-02-18 01:34] tinganho opened #79 "Breakout IANA timezones"
For easier maintenance we should break out IANA timezone handling. It should be implemented on a similar fashion to cldr-data.

[2015-02-18 01:54] tinganho opened #80 "Implement abbr numbers."

[2015-02-18 02:47] tinganho opened #81 "Deprecate config.locales and config.defaultLocales"
We are now longer referencing code with locale. Therefor, we should deprecate and use `config.languages` and `config.defaultLanguage`.

[2015-02-18 03:06] tinganho opened #82 "Implement disk cache"
We can improve the compiler speed by storing CLDR data on disk.

[2015-02-18 03:21] tinganho opened #83 "Improve compiler output for plural keyword getter"
We can improve a lot by cutting all excess output in `__getPluralKeyword()` output:

[code]

[2015-02-18 06:41] #81 closed

[2015-02-18 22:43] focusaurus commented on #73
Any estimate whether we can expect this soon? I'm currently having to install from the git master branch, `npm install --development`, run `grunt dot`, etc to get a version with my fixes for language-code-only locales. Other than that, I think I have a l10ns-enable project ready to release to QA.

[2015-02-18 22:50] focusaurus opened #84 "split into core, cli, web modules"
At the moment I think the l10ns module is larger and has more things than the overall node/npm consensus would like (this is also my personal opinion/preference). I'd like to see something along these lines:

- core library containing the guts/plumbing of the code
  - also AFAICT there's no official programmatic API. I'd like to see that as well without needing strong coupling to commander.js, hav

[2015-02-19 01:40] tinganho opened #85 "Cut out some excess weight"
- [ ] Remove templates from NPM.
- [ ] Remove SASS files.
- [x] Remove tasks/
- [x] Remove temp/

[2015-02-19 07:35] tinganho commented on #84
Sounds great @focusaurus, though splitting L10ns up has been on the plan. I want to do it as soon as I add new message markup API's.

The storage L10ns occupies seems like there are some extra fat that needs to be cut. Though there are some data repo:es that L10ns uses that are quite big. Like IANA and CLDR. The new parsed version of CLDR will be much bigger than current one near 496mb big vs. 83M

[2015-02-19 07:58] tinganho commented on #73
I'm waiting on an issue to be fixed for the npm module `cldr-data` https://github.com/rxaviers/cldr-data-npm/issues/6#issuecomment-74793777.

I will release directly after the issue is fixed.

[2015-02-19 11:51] tinganho commented on #73
Hi @focusaurus I just released version 2.0. Please check it out. I need to change name on some settings. It just issues warning about it. Please checkout the change log: https://github.com/tinganho/l10ns/blob/master/CHANGELOG.md.

[2015-02-19 12:59] tinganho opened #86 "Deprecate the `new` property"
In all localization entries there exists new property, that aren't used anymore. Please remove it.

[2015-02-19 15:06] tinganho opened #87 "Bundle with requirejs"

[2015-02-19 15:46] #87 closed

[2015-02-19 17:27] marcelohack opened #88 "permission error with composer file"
Hi Tinganho,

I'm getting a follow error, when i tried to run l10ns interface

Cannot find module './configurations/autoRoutes'

i've already reinstalled l10ns.

Thanks in advance,
Marcelo

[2015-02-19 17:59] tinganho commented on #88
I've just pushed out a new version l10ns@2.0.7. Can you try it out?

[2015-02-19 18:27] marcelohack commented on #88
Hi Tingan,

i ve made a complete uninstall, installed again, and now i'm getting the following error:

EACCES, permission denied '/usr/lib/node_modules/l10ns/interface/public/scripts/routers/composer.js'

fs.js:439
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^
Error: EACCES, permission denied '/usr/lib/node_modules/l10ns/interface//public/scripts

[2015-02-19 18:31] tinganho commented on #88
composer script is a compiled file, but I haven't seen it cause permission problems before. Which OS are you using?

[2015-02-19 18:31] marcelohack commented on #88
Made an chmod -R 775 /usr/lib/node_modules/l10ns

and now is running

thanks
Marcelo

[2015-02-19 18:32] marcelohack commented on #88
kubuntu 14.10

[2015-02-19 18:33] marcelohack commented on #88
i've made an chmod -R 775 to the root of the package and now its working fine.

thank you

[2015-02-19 18:36] tinganho commented on #88
OK I will try to fix this later. I don't have a ubuntu image available. Ideally you shouldn't need to chmod things.

[2015-02-20 21:38] focusaurus commented on #73
Tried it and it's working fine for us. Thanks!

On Thu, Feb 19, 2015 at 4:51 AM, Tingan Ho <notifications@github.com> wrote:

[2015-02-23 17:02] tinganho opened #89 "List pattern"
[code]
Outputs
[code]

[2015-02-26 12:14] tinganho opened #92 "Fix cldr-data paths"

[2015-02-27 18:04] focusaurus commented on #92
Is this this issue: `Cannot find module './json/supplemental/likelySubtags'`? If so, a workaround seems to be:

[code]

26.0.8 and 26.0.9 seem OK but 26.0.10 breaks.

[2015-02-28 00:56] tinganho commented on #92
There was a breaking API change in `cldr-data` https://github.com/rxaviers/cldr-data-npm/issues/10. As of know I fixed the version to 26.0.8.

[2015-02-28 16:29] gregod opened #93 "l10ns update function skips some keys"
Given the input file below and default settings:
[code]
only **A1** & **C1** are found. **D1** is ignored!

[2015-03-01 02:54] #93 closed

[2015-03-01 03:00] tinganho commented on #93
@gregod I have published the solution to NPM. Let me know if there are any problem.

[2015-03-01 03:40] #92 closed

[2015-03-01 06:40] tinganho commented on #88
This should be fixed now.

[2015-03-01 06:40] #88 closed

[2015-03-01 15:10] gregod commented on #93
Perfect. Works as expected now. Thanks a lot.

[2015-03-01 15:38] tinganho opened #94 "L10ns should show deleted keys"
Right now, when you run l10ns, it doesn't show you the deleted keys if you have delated a key from your source code. To improve the UX we should enable this.

[2015-03-01 16:32] tinganho opened #95 "Sponsor info"
no sponsor info yet.

[2015-03-02 08:33] #73 closed

[2015-03-02 08:33] #78 closed

[2015-03-06 11:58] tinganho opened #98 "Add ES6 and typescript definition file"

[2015-03-10 21:13] focusaurus opened #99 "unstable sorting of files list in json files creates SCM noise"
I am seeing my localization json files change just due to the `files` property not being deterministically sorted. For example:

[code]

Could this be sorted so it's stable in git unless a meaningful change happens?

[2015-03-10 21:44] tinganho commented on #99
@focusaurus thanks for reporting. Now the files property is sorted before writing to storage. NPM published.

[2015-03-11 21:25] focusaurus commented on #99
I'm still seeing issues in version 2.0.17. I can run `l10ns update` and see `files` key order changes. I can `git checkout` my locale json files to reset them, run `l10ns update` again and see a different set of changes. This is consistently reproducible.

In what may be an unrelated issue, sometimes `l10ns update` produces significant changes in my locales files, including losing values, when I w

[2015-03-12 01:29] tinganho commented on #99
@focusaurus I just tried to create a large set of files with many `l()` calls in them and run l10ns update on them and I can't reproduce this problem.

Can you give me a failing test? just create a public repo and let me pull it down?

[2015-03-12 01:31] focusaurus commented on #99
OK I'll try to repro in a test repo tomorrow.

On Wed, Mar 11, 2015 at 7:29 PM, Tingan Ho <notifications@github.com> wrote:

[2015-03-12 01:37] tinganho commented on #99
@focusaurus thanks.

[2015-03-12 19:07] focusaurus opened #100 "key not found if first line of file"
I just created a new test repo with `src/a.js` as the only source file with just 2 lines

[code]

The first `l10ns update` consistently misses the first line. Adding a line with a comment above it works around.

[2015-03-12 19:12] focusaurus commented on #99
Here's a commit in a test repo demonstrating it.

https://github.com/focusaurus/test-l10ns/commit/5b5d7716e0203986b26378bbe0adcd176903033d

[2015-03-12 19:16] focusaurus commented on #99
FYI this is on OSX. Maybe the case-insensitivity of the OSX filesystem is somehow weirdly involved? Just a hunch. In any case, this seems consistently reproducible for me.

I suspect this string subtraction is the problem:

https://github.com/tinganho/l10ns/commit/e8a821d09f24ad34041569e78c377e2ca8d96d12#diff-3693763d79803fa299e19d7b7fb53d62R77

[code]

[2015-03-12 22:57] #99 closed

[2015-03-12 23:21] tinganho commented on #100
Fixed in https://github.com/tinganho/l10ns/commit/d50539f8ad4ae1bcc71baf10a943cd4977ec8507

[2015-03-12 23:21] #100 closed

[2015-03-12 23:44] tinganho commented on #99
Thanks @focusaurus for you PR. NPM published now on l10ns@2.0.18.

[2015-03-13 00:04] focusaurus commented on #100
nice. thanks!

[2015-03-13 16:11] nmn opened #102 "More verbose error messages."
L10ns is AWESOME.

It has been a pleasure to use it this whole time. But now, I get an error when I run `l10ns update'

It simply says:
`[error] Localizations update failed`

L10ns should show more descriptive errors, so I can actually do something to fix it.

[2015-03-13 16:19] nmn commented on #102
Never mind, found --stack flag.

[2015-03-13 16:19] #102 closed

[2015-03-13 21:28] tinganho commented on #102
thanks @nmn. I'm just curious what the stack shows?

[2015-03-13 22:00] nmn commented on #102
genuine error in my code. Stack traces were super accurate. I just think this flag should be ON by default. We are all developers. We all like good error messages. This is why I even created the issue before I hunted for a flag.

The actual error was that I was calling the same key with different values, (second arg, obj)

[2015-03-13 22:56] tinganho commented on #102
@nmn Ok that error should actually be displayed regardless of stack option. I will fix it. Thanks for reporting.

[2015-03-13 23:17] tinganho commented on #102
Ok fixed in l10ns@2.0.20

[2015-03-14 18:10] nmn commented on #102
Thanks!

[2015-03-20 15:33] focusaurus opened #103 "compiler should not delete files"
https://github.com/tinganho/l10ns/blob/master/plugins/javascript/compiler.js#L77

That is deleting some other .js files that just happen to be in the same "build" directory where the l10ns compiler output goes. Not sure I see the value in deleting the files. Just overwrite them, add new ones, and if a locale is removed, I don't need l10ns to delete the file for me.

In general this violates my exp

[2015-03-20 17:19] tinganho commented on #103
I added the automatic deletion before because when I deleted a language in `l10ns.json` I wanted it to reflect on the compiled folder. But it seems like this approach doesn't follow best practice.

I will add a clean command instead in the coming days. I can ping you when I'm done.

[2015-03-20 17:31] focusaurus opened #104 "install crashing with request/cldr-data/boom issue"
I'm still seeing this with 2.0.21

[code]

[2015-03-20 17:32] focusaurus commented on #104
package.json in master still says 2.0.18. Are you doing the commit/tag/push/publish routine fully?

[2015-03-20 17:39] tinganho commented on #104
@focusaurus can you try to install now?

[2015-03-20 17:43] tinganho commented on #104
Im trying to follow that workflow. But I must admit that some times I miss to make git tags.

[2015-03-20 17:46] focusaurus commented on #104
Well now I think npm knows that the latest version is 2.0.22. I think there may have been some lag there. I have had a local install succeed but on my server I'm seeing this, which I'm not sure what it is but my guess is the linux OOM killer is killing the process during the unzip of cldr-data.

[code]

This has been a struggle. Let me see if I can get past this one.

[2015-03-20 17:59] focusaurus commented on #104
Sigh: https://github.com/cthackers/adm-zip/issues/129

[2015-03-20 18:19] focusaurus opened #105 "Allow option to leave removed keys in the data files"
[code]

I need an option here to just leave the data. I'm not sure why folks would want discarding translations as a normal part of there workflow. As I mentioned in the other issue, not 100% of all keys are in source code. Some come from a DB and sometimes different installs have slightly different data sets and I need to not have l10ns discard translations in this scenario.

[2015-03-20 18:28] tinganho commented on #104
hmm strange. The downloaded file is not that bigger than 1GB. I'm getting a successful install in ubuntu?

[2015-03-20 18:36] focusaurus commented on #104
It's 51MB on disk in the zip file and 473MB when extracted. I worked around it by tarring up my local node_modules and manually installing that on the server, but I suspect strongly that the adm-zip package is very badly implemented. Keep in mind this is a could VM that is already running linux, mysql, nginx, so it's not like there's gigs and gigs of free memory available.

It would be nice to get

[2015-03-20 18:38] focusaurus commented on #104
But anyway, the 2.0.22 version when I finally got npm to really install  it fixed the 'boom' issue so you can close this. Thanks as always for your assistance!

[2015-03-20 18:40] #104 closed

[2015-03-20 18:41] tinganho commented on #104
@focusaurus you're welcome

[2015-03-20 18:46] tinganho commented on #105
@focusaurus One of my biggest pain of using other i18n tools where that the localization storage contained so much unused localization.

Let me think about this problem. I'm sure we can solve it in a good way.

[2015-03-20 20:16] focusaurus commented on #105
I'd rather see them marked as inactive and have a separate "purge" command or something. Features get removed and re-added but I think recovering old translations from git would be a royal pain given the json file format.

Overall I think the tool's orientation is currently overly "let me handle everything" and I'd rather have access to some additional focused commands. At the moment "update" make

[2015-04-12 17:04] alawatthe opened #106 "npm install stops after unicode download"
Everytime I am trying to ```npm install l10ns```, the installation stops after downloading the unicode file (the process is still alive, but nothing is happening):

[code]

I tried it multiple times with io.js v1.6.4 and node.js v0.12.2 on two Macs with OS X Yosemite 10.10.2.

Am I doing something wrong? Do I have to do something before installing l10ns?

[2015-04-13 03:30] tinganho commented on #106
@alawatthe how long are you waiting? Actually the progress bar is way off. After it is downloading it is actually extracting.

[2015-04-13 13:10] alawatthe commented on #106
@tinganho I waited about 10-15 minutes each time. But, I tried again just now and everything worked perfectly (in about 4 minutes). Don't know what happened yesterday. Sorry for bothering you :-/

[2015-04-13 13:10] #106 closed

[2015-04-13 18:33] focusaurus opened #107 "install-report failing during npm install: missing file"
module.js:340
        throw err;
              ^
    Error: Cannot find module '/home/footprintid/Footprintid/node_modules/l10ns/binaries/install-report.js'
        at Function.Module._resolveFilename (module.js:338:15)
        at Function.Module._load (module.js:280:25)
        at Function.Module.runMain (module.js:497:10)
        at startup (node.js:119:16)
        at node.js:935:3

* are you pa

[2015-04-14 02:39] tinganho commented on #107
I can't reproduce this? in npm v2.3 and v2.7.4 and node v0.11.16 and v.12.2. I also checked that the files are there.

Are you disturb because of the potential privacy issue?

This analytics just report the installation to Google Analytics. This is my only reliable stats for downloads of L10ns. Since NPM or npm-stat doesn't provide any reliable stats. One day it could be over a thousand and next d

[2015-04-14 03:09] focusaurus commented on #107
Somewhat, but more importantly I'm disturbed by unnecessary code running at install time and accessing the Internet that isn't strictly required to get me the bits I need to do my job. I also fail to see how number of downloads/installs has any analytical utility given CI builds, npm cache, etc. But I digress.

I also want to nip any precedent in the bud here. This is not something I want nor need

[2015-04-14 03:34] tinganho commented on #107
@focusaurus I can try to remove the `install-report` I think I can live without the analytics.

You're right the installation of `L10ns` haven't been reliable. Partly because it has a more complex install process than more conventional ones.

[2015-04-14 04:03] #103 closed

[2015-04-14 04:21] tinganho commented on #107
@focusaurus I launched L10ns v2.1 now. Could you try it out? I removed the install report file.

[2015-04-14 04:32] focusaurus commented on #107
Well on my ubuntu server I get the cldr-data issue with running out of memory and getting killed by the linux OOM killer while trying to unzip the cldr-data zip file, but other than that I don't see the install report error anymore. On OSX v2.1 installs OK. Thanks!

[2015-04-14 04:46] tinganho commented on #107
@focusaurus I will report the issue to `cldr-data-download` and see if we can fix the buffer overload problem.

[2015-04-14 04:46] #107 closed

[2015-04-14 05:03] focusaurus commented on #107
It's already tracked in [adm-zip here](https://github.com/cthackers/adm-zip/issues/129). I suspect the most realistic solution is for cldr-data-downloader to switch to another module for streaming unzips. The adm-zip maintainer hasn't responded and to have coded such a facepalm in the first place is a red flag.

[2015-04-14 06:00] #85 closed

[2015-04-15 07:51] tinganho opened #108 "Add CLDR 27"

[2015-04-19 15:18] akayami opened #109 "Wrong output path computed"
Hi,

I've been testing l10ns and I've noticed that it is compiling the wrong output path.

The problem is located in:
plugins/javascript/compiler.js
Line: 115 and line 150.

In both cases, path.join(project.root, project.output) causes the project.root contents to be there twice, because it is already set in project.output earlier.

Would you like a pull request or do you prefer to fix it yourself

[2015-04-19 16:13] tinganho commented on #109
I don't quite understand the problem?

FYI one is compiling the bundled languages `all.js` and the other is compiling each language.

[2015-04-21 03:52] akayami commented on #109
Hi,

Let me try to be clear. The problem actually starts in:
libraries/index.js
Line 150:
[code]
where project.root is prepended to project.output.

Then, in:
plugins/javascript/compiler.js
Line: 115 and line 150:
[code]
and
[code]

project.root is prepended again to project output.

Assuming project root is:
[code]
and project output is:
[code]
the filePath will be:
[code]
and so on

[2015-04-21 04:19] #109 closed

[2015-04-21 04:28] tinganho commented on #109
@akayami can you try l10ns@2.1.1? I had this issue fixed.

[2015-04-22 12:05] #108 closed

[2015-05-30 22:14] bobak opened #111 "Parser fails on differently formatted options"
The parser fails to parse our formatting style, we require properties to be lined up which means they have usually one space before the colon.

Failing example:
[code]

Running `l10ns update` gives me this cryptic error message:
[code]

[2015-05-31 02:17] #111 closed

[2015-05-31 02:20] tinganho commented on #111
@bobak thanks for reporting this. This is now fixed and published. Please just run a new `npm install l10ns -g` to get the changes.

[2015-05-31 06:54] bobak commented on #111
Thanks for the quick turnaround, fix confirmed.

[2015-07-05 22:15] #82 closed

[2015-07-16 21:47] comx opened #113 "Usage of translation function inside value object of another translation function is not detected"
[code]
In the above example the 'l10ns update' will ignore the 'contactPage.phone' label usage and will delete it if it's the only one in the code. Can you point me in the right direction to fix it?

[2015-07-17 01:51] tinganho commented on #113
@comx this is by design. It is really hard to fix this problem. I can let `l10ns` use a JS parser to fix this problem which I think is the only way to fix this problem along with other related problems. Though then I lose the flexibility of just a simple regexp. With a simple regexp I can parse not only JS but many compiled to JS languages like TypeScript and CoffeScript.

[2015-07-17 01:51] #113 closed

[2015-07-17 02:22] tinganho commented on #113
I forgot to point out the solution which I already think you know is to declare a variable before one of the translation functions and then pass it as an argument.

[2015-07-17 07:48] comx commented on #113
I see. Thanks for response.

[2015-09-03 14:38] tinganho opened #115 "Allow sharing localization between multiple projects"
There should be away of defining base localizations that other projects can use.

[2015-10-02 13:53] ray007 opened #116 "Exception on init"
I tried to follow instructions, but when executing `l10ns init` I only get an error:
[code]
Just happened with `l10ns` version 2.2.5 fresh after npm install.

[2015-10-03 02:45] tinganho commented on #116
@ray007 I'm not getting this error on my Mac. I will try it on a Windows.

[2015-10-05 11:51] tinganho commented on #116
@ray007 I cannot reproduce this issue? I think there is something wrong with your node?

[2015-10-05 11:51] #116 closed

[2015-10-06 07:22] ray007 commented on #116
Hmm, strange.
Just a few days, and it now also works here from a CMD prompt. Only in msys-shell it still fails.

[2015-10-21 09:44] rhalukongor opened #117 "Implement normal (short, medium, long and full) date formats"
It is hard to have a consistent date format across a project when you specify date formatting with the format strings. Implementing ICU's [normal date formats](http://userguide.icu-project.org/formatparse/datetime) would help us to do so.

I could try to implement this however I have little knowledge about CLDR tables. I'd be happy to do so if someone guides me a little bit.

[2015-10-21 11:02] tinganho commented on #117
You will get the CLDR tables when you run `npm install` under node_modules. It is using `cldr-data`.

[2015-10-21 11:18] rhalukongor commented on #117
Thanks @tinganho. When I check the table data I found out that there are three types of normal formats: For date, time and datetime.How do you suggest implementing those?

[code]
This is what comes to mind first but isn't this introducing two new message formats? Any suggestions on this?

[2015-10-21 11:40] tinganho commented on #117
I will take a look first

[2015-10-21 12:08] tinganho commented on #117
Just curious where do you found the data? I can't find the corresponding CLDR data.

[2015-10-21 12:12] tinganho commented on #117
Ok I found it now, under `/main/en/ca-gregorian.json` and then `main.en.dates.gregorian.dateFormats`. Just use the properties from there. There is already logics that resolves to the right file. Please also check maybe 10 languages under main and see if they contain all four properties `full`, `long`, `medium` and `short`.

[2015-10-21 12:29] rhalukongor commented on #117
Ok I'll do a few tests and be back but first thing is first:
I need some help setting up the project.
What is with the 'cldr-data/defaultContent.json'?
Can't run the tests because that file is not found and discovered [your issue](https://github.com/rxaviers/cldr-data-downloader/issues/14 ) while googling for it... Is this an ongoing issue?

[2015-10-21 12:54] rhalukongor commented on #117
Ok solved it.
[code]
for the reference.

[2015-10-21 12:58] tinganho commented on #117
I don't recall what  `defaultContent.json` did. But it was being handled in `cldr-data` or some of its dependencies.

[2015-10-21 12:59] tinganho commented on #117
Please also stick with the current syntax:
[code]

[2015-10-21 14:44] tinganho commented on #117
@rhalukongor I see what you mean now with the three types `date`, `time` and `dateTime`. Let me think a little bit about. You original suggestion seem fine to me. Let me sleep on it.

[2015-10-27 03:15] wemcdonald opened #118 "Saving should move to next untranslated token"
I love the interface you've created, but it's tedious to have to click "Home" (or back) to advance. It would be great if clicking Save could either
* Advance to the next untranslated token, if it exists, or
* Go back to the index.

[2015-10-27 03:17] wemcdonald opened #119 "Show missing translations (across languages)"
I would love a command-line argument to show missing translations.

[2015-10-27 04:08] tinganho commented on #118
Got back to the index might be appropriate on this one. Though it would come in a potential `3.0` release.

[2015-10-27 04:09] tinganho commented on #119
Can you try out `git log --empty`?

[2015-10-27 04:35] wemcdonald commented on #119
I actually hadn't put together `log` with `empty` – thanks for the helpful suggestion!.

However, that requires me to manually (or with a script) iterate through all my locales on the command-line (correct?). Since the most common use case of I18n is to translate the whole app into each supported language, it still seems useful to have a single command that show which tokens are missing, across al

[2015-10-27 04:45] tinganho commented on #119
You can also use `-l --locale` to refine your search to a sepcific locale. E.g. `git log --empty -l en-US`

[2015-10-27 04:47] tinganho commented on #119
Though I might agree with you that there is a missing feature for seeing missing translations across all languages.

[2015-11-26 01:09] fariza opened #120 "default translation value"
Hi

I am pretty sure I'm missing something basic here, but coming from Django, and the way it collects and compile strings for translations. In Django the default value to the `gettext` function is used as key.
I understand the advantage of using a different key, but actually it is pretty useful to have the default value also there.
Is there a way to pass a default value to the `l` function?

Than

[2015-11-26 03:24] tinganho commented on #120
Hi @fariza, I also came from gettext. And I thought that feature was a miss-use. Let me clarify the missuseness:

I believe localization should be referenced with keys that should be the name of a localization text. So you write:

[code]
The above is a name of a textfield on a search input placeholder. But you could also write the text value directly:
[code]
And L10ns could use the localization ke

[2015-11-26 03:24] #120 closed

[2015-11-26 22:07] fariza commented on #120
Hi @tinganho thanks for your prompt answer

I understand what you mean and I agree that the name space is very important, but the problem (at least for me), is that this imposes a workflow that breaks my concentration.

Suppose I'm writing a button, in that precise moment I am thinking about callbacks etc.. and I add the string to be translated, save... and I want to see my result immediately.
Wit

[2015-12-16 15:36] reneklacan opened #121 "Is this project alive?"
Hi @tinganho, just wanted to ask if you have any future plans for this project or did you lose your interest in it?

[2015-12-16 16:13] tinganho commented on #121
@reneklacan It's alive. I use it everyday. I care about L10ns deeply. I fix bugs as soon as possible. There doesn't seem to have report any for a while, thus my latest commit was a long time ago.

Though my fashion of doing things is not continuously. I write major versions each 1-2 years, this is my style of working. Just doing L10ns alone was a big thing, itself is architected as a compiler. So

[2015-12-17 05:57] #121 closed

[2015-12-17 09:43] reneklacan commented on #121
Thank you for your answer, I am happy to hear that. This project has some really unique features and it's really awesome!

Just out of curiosity, if you are saying that next version maybe won't be written in JS then what do you have in mind? Typescript or something else?

[2015-12-17 15:23] tinganho commented on #121
@reneklacan typescript will be a good candidate. Though I'm still evaluating.

[2016-03-29 08:18] cvlmtg opened #122 "l10ns 2.3.0 doesn't compile anymore"
I've tried with both node 5.9.1 and node 4.4.1 and the error message is the same. I've set up different languages in my project even if at the moment only one has some values. I had this error with the DE language, and then I erased de-DE.json I got the same error on another language. I even tried erasing all the languages but the default one, and I still get the same error.

[code]

[2016-03-29 08:51] tinganho commented on #122
@cvlmtg sorry for the inconvience I made to you. I will try to make sure this problem gets fixed as soon as possible.

The problem is probably in the downstream CLDR repo. They seemed to have removed standard region for a language.

[2016-03-29 09:37] cvlmtg commented on #122
thanks!

[2016-03-29 10:16] tinganho commented on #122
@cvlmtg I pushed a new release `l10ns@2.3.1` could you please try it out.

[2016-03-29 13:16] cvlmtg commented on #122
sorry, I have another error

[code]

[2016-03-29 13:48] tinganho commented on #122
@cvlmtg this is related to https://github.com/rxaviers/cldrjs/issues/41.

I'm not sure I can do much on my front. I advise you to use `l10ns@2.2.5` if you cannot wait. It uses an older version of CLDR.

Next major version will have a more proper testing infrastructure in place so these kind of bugs shouldn't appear so often.

[2016-03-29 15:26] cvlmtg commented on #122
I can use l10ns 2.2.5 meanwhile, thanks for the support!

[2016-03-30 11:15] bbenezech opened #123 "Design - Compiled output size"
Hi @tinganho

I just reviewed I10ns for my needs, I love it and I considered using it until I realized that the compiled translation function was huge for each key, and makes it a deal-breaker for client-side projects with many translations.

Have you considered not pre-compiling the json and use it directly at runtime?

[2016-03-30 11:28] tinganho commented on #123
@bbenezech I try to keep it as compact as possible. for example a string with no complex translation (i.e. pluralization, date formatting etc.). It is just a string getter.
[code]
It can however store some localization data on the output, that can be rather large. Though it would be large even if you only used JSON. Some way or another the localization data must be there :wink:.

For perf reasons

[2016-03-30 12:44] #123 closed

[2016-03-31 11:39] godfern opened #124 "Initial setup for l10ns"
Hi Im trying to run the initial setup of l10ns but facing some issue

Steps i followed

- npm install l10ns -g
- mkdir test
- $ cd test and run the **l10ns init**
-Created a test.js file (test/test.js)
- Added  this code `var requireLocalizations = require('path/to/output/all.js');
var l = requireLocalizations('en-US');
var firstname = l('SIGN_UP->FIRSTNAME');
var lastname = l('SIGN_UP->LASTNAME')

[2016-03-31 11:51] tinganho commented on #124
You must specify your source files in `source` property in your JSON.

[code]

[2016-03-31 11:51] #124 closed

[2016-03-31 11:53] tinganho commented on #124
Be aware to not include the `node_modules` that would be a perf hit.

[2016-03-31 12:20] godfern commented on #124
Appreciate your immediate reply. Added my json code
`{
  "defaultProject": "Language",
  "projects": {
    "Language": {
      "timezones": [
        "America/Los_Angeles"
      ],
      "currencies": [
        "USD"
      ],
      "interface": {
        "autoOpen": true,
        "port": 3001
      },
      "languages": {
        "en-US": "English",
        "zh-CN": "Chinese"
      },
      "defau

[2016-03-31 12:25] tinganho commented on #124
Just notice that the source property should represent all your source js files for whatever application you are building. This will tell the `l10ns` how to update all translation keys.

And I think it must be an array:
[code]

[2016-03-31 12:29] tinganho commented on #124
You can probably try the following:

[code]

This will add all js files except those in the `node_modules` folder.

[2016-04-01 06:26] godfern commented on #124
After adding `"source": [
    "test.js"
]`
still getting this error
`SyntaxError: Unexpected end of input
    at Object.parse (native)
    at /usr/local/lib/node_modules/l10ns/libraries/file.js:248:29
    at tryToString (fs.js:414:3)
    at FSReqWrap.readFileAfterClose [as oncomplete] (fs.js:401:12)`

I guess this error is because the resource file en-US.json is empty

@tinganho can you explain fo

[2016-04-01 06:31] godfern commented on #124
@tinganho can you please provide a simple working example

[2016-04-01 06:37] tinganho commented on #124
L10ns will create it and update it for you.

This is the path to the compiled output.

[2016-04-01 07:19] godfern commented on #124
Tried l10ns update but it dint create any resource file(en-US.json)

Please provide a simple example

[2016-04-01 07:49] tinganho commented on #124
@godfern can you check out https://github.com/tinganho/l10ns-init?

l10ns update -> updates the storage files.
l10ns compile -> compiles the localisation source files.

[2016-04-01 07:54] tinganho commented on #124
@godfern I think you missed to create any `l('LOCALIZATION_STRING')` calls in your source.

If you add in `test.js`
[code]
and then run `l10ns update`.

It will add the the `HELLO_WORLD` entry in `en-US.json`.

[code]

[2016-04-01 10:27] godfern commented on #124
Thanks alot @tinganho for your help...will explore more options with L10ns

[2016-04-01 11:54] godfern commented on #124
@tinganho in order to include it in the html file i did the following thing
`<html>
	<head>
		<script type="text/javascript" src="localizations/output/all.js"></script>
		<script type="text/javascript" src="localizations/output/zh-CN.js"></script>
		<script>
			var l = requireLocalizations('zh-CN');
			console.log(l('SIGN_UP->FIRSTNAME'));
		</script>
	</head>
	<body>

	</body>
</html>`

but seems

[2016-04-01 12:03] tinganho commented on #124
It should work since I do a check of the window property:

[code]

[2016-04-01 12:16] godfern commented on #124
{
    "files": [
      "test.js"
    ],
    "id": "oG9zjA7GUb",
    "key": "SIGN_UP->FIRSTNAME",
    "new": false,
    "timestamp": "2016-04-01T10:18:32.517Z",
    "value": "名",
    "variables": []
  },
  {
    "files": [
      "test.js"
    ],
    "id": "L74qena7tp",
    "key": "SIGN_UP->LASTNAME",
    "new": false,
    "timestamp": "2016-04-01T10:18:32.517Z",
    "value": "",
    "variables": []

[2016-04-01 12:40] godfern commented on #124
Oh Sorry had not compiled it. Now getting it.

[2016-04-01 13:17] godfern commented on #124
@tinganho can't i assign a value when i'm creating the key?. If i run l10ns update it creates the json file but value is en empty string.

[2016-04-01 13:45] tinganho commented on #124
You have the following commands:
[code]

Please read the docs.

[2016-04-01 13:57] tinganho commented on #124
And there is not default values in l10ns.

[2016-04-01 14:03] godfern commented on #124
Ok @tinganho thought we could set default values. Is there a support for handlebars?

[2016-04-01 14:07] tinganho commented on #124
No you have to reference them as variables

[2016-04-03 18:01] godfern commented on #124
Thanks @tinganho for your support

[2016-04-08 09:12] sukazavr commented on #111
This issue is still actual, but this time for ES6 Object Notation.
I use 2.3.1 version.

Failing example:
[code]

Running `l10ns update` gives me this cryptic error message:
[code]

[2016-04-08 10:51] tinganho commented on #111
@sukazavr ES6 Object notation is not supported. Keep in mind it just uses simple regexes to parse out the message string. So it doesn't have any understanding of your code. This is an architectual design decision I took early. If we implemented a parser it would mean full time maintenance for me ot keep upto date with different parsers.

[2016-05-23 08:49] asci opened #127 "How to get month abbreviation with capital first letter and without dot?"
I need format for **Jun 2016**

`{LLL yyyy}` => Jun. 2016

`{MMM yyyy}` => jun 2016

Any better solution than `replace('.', '')`?

Thanks

[2016-05-23 09:24] tinganho commented on #127
Doesn't it already come with a form without dot?

[2016-05-23 09:29] tinganho commented on #127
L10ns takes whatever defined in CLDR. It might be that they have updated it with a dot.

[2016-05-23 09:52] tinganho commented on #127
I cannot reproduce this.

[2016-05-23 09:52] #127 closed

[2016-07-02 03:04] tinganho commented on #122
I think this should be fixed by now.

[2016-07-02 03:04] #122 closed

[2016-07-07 10:11] cadesalaberry opened #128 "Offset in key preview on homepage."
On the first page, everything is fine, but when I load the second page, the previews start to get mixed up.

In my example here, `SIGNUP__LOCALIZATION_EMPTY` is correct.
However when I load more content, the key `AWARDS__CARD__SCORE__UNIT` displays

Instead of

I started investigating, but haven't found out from where it was coming yet.

I suspect it might be related to key ordering in the json fi

[2016-07-07 12:01] tinganho commented on #128
@cadesalaberry could you share the project or an example project with me?

[2016-07-13 12:21] cadesalaberry commented on #128
Sorry, it took me some time to generate the files, and strip the unnecessary content.

I uploaded the pertinent files on https://github.com/cadesalaberry/l10ns-offset if you care to have a look.

Cheers

[2016-07-20 08:23] qborreda commented on #111
@tinganho - what would be a good approach to overcome this?
I'm playing with the idea, not so efficient, of having a `localize_this.js` file within the `localization/` folder with just all the calls to `l('STRING_ID')` and make l10ns only parse that one. It seems to work on my react es6 environment, but can't parse the strings from the code as in @sukazavr case ..

[2016-07-20 09:52] tinganho commented on #111
L10ns currently makes a few extractions steps. It uses regexes like this one https://github.com/tinganho/l10ns/tree/master/plugins/javascript/specifications#L106-L123. To get the variables.

This info together with @sukazavr stack trace should probably give you enough info to submit a PR.

[2016-08-17 12:33] #94 closed

[2016-08-21 04:33] tkhyn opened #130 "parsing: line breaks in l()"
Hi and thanks for making ``l10ns`` available to the public.

I encountered an issue when using something like:

[code]

Indeed, the translation key is not picked up by ``l10ns update``. To fix it I had to put the `l(` and the translation key on the same line.

I guess it's simply a matter of adding a character into a regular expression. I'm on windows and mostly use CRLF line delimiters.

Thanks a

[2016-08-21 04:38] tkhyn opened #131 "parsing: colon in parameter"
I noticed that when using:

[code]

2 parameters are added to the translation key when parsing: `http` and `param`. I would expect to only see `param`.

It's a very minor issue but possibly an easy fix. I do not have the time to dive into l10ns codebase to check what causes it but I thought it would be worth mentioning here.

Thanks for looking at it and thanks again for `l10ns`.

[2016-08-21 04:43] tinganho commented on #131
@tkhyn I just patched this not a long time ago. Could you please update l10ns.

[2016-08-21 04:44] tinganho commented on #130
@tkhyn thanks for reporting I will take a closer look.

[2016-08-21 05:07] tkhyn commented on #131
@tinganho thanks, indeed, with 2.4.0 it works fine.. Sorry I should have checked the npm package page instead of the repo releases (which shows that the latest release is 2.3)

Closing that, then. Thanks heaps for the very quick reply.

[2016-08-21 05:07] #131 closed

[2016-08-21 05:07] tkhyn commented on #130
A bit more info:

[code]

and

[code]

result in no `NEW_KEY` added.

[code]

results in:

[code]

And changing the line endings to LF or CR only has no effect.

(all that with version 2.4.0)

[2016-08-23 08:34] tinganho commented on #130
Fixed in https://github.com/tinganho/l10ns/commit/43ad6d353ac82dd6052fabd7646ec54a47643d7f

[2016-08-23 08:34] #130 closed

[2016-08-24 00:58] tkhyn commented on #130
Thanks for the quick fix @tinganho

[2016-09-01 08:48] cvlmtg opened #132 "can't use "en-GB" as a language"
I have a project which currently use l10ns@2.2.5 where I defined "en-US", "en-GB" plus other languages. When I try to upgrade to l10ns 2.4.1 (installed both globally and locally) I get the following error on `l10ns compile`:

[code]

`l10ns update` works fine, and the only way to make compilation work is to remove en-GB from the list of languages, but that's something I cannot do on this project..

[2016-09-01 15:42] tinganho commented on #132
@cvlmtg can you confirm that l10ns@2.2.5 works? and not l10ns@2.4.1? I just want to make sure that it's not a down stream bug.

[2016-09-01 15:48] cvlmtg commented on #132
yes, l10ns@2.2.5 works. it's what we are currently using in our project, and our watch/build scripts are explicitly calling *./node_modules/.bin/l10ns compile*

I made some tests with l10ns@2.4.1 (even on another, unrelated, project) and when I add "en-GB" to *l10ns.json* the error above appears. "en-US" gives no problems.

[2016-09-03 14:37] tinganho commented on #132
@cvlmtg  I published a fix with `l10ns@2.4.3` could you please try it out?

[2016-09-03 22:25] cvlmtg commented on #132
[code]

[2016-09-04 00:25] tinganho commented on #132
@cvlmtg I published newer version 2.4.4.

[2016-09-04 08:21] cvlmtg commented on #132
my test were made with 2.4.4.
sorry I didn't notice your first message said 2.4.3 while I installed 2.4.4, so I didn't report that

[code]

[2016-09-04 08:47] tinganho commented on #132
Lets try again with 2.4.5?

[2016-09-04 09:50] cvlmtg commented on #132
it works! thanks :)

[2016-09-04 12:00] #132 closed

[2016-09-17 16:03] #80 closed

[2016-09-20 11:56] stipsan opened #133 "Add padding to JSON to avoid git merge conflicts"
Hey,

We've noticed that the more people we have working on our JS SPA app views, all of which are translated, the more painful git merge conflicts we get.

A simple solution to avoid them can be seen here: http://stackoverflow.com/a/33262179

In other words, have a linebreak between each translation in the JS.

Great work on l10ns btw! We reviewed Polyglot.js and many other solutions but we found

[2016-09-20 12:11] tinganho commented on #133
Can you give an example of one merge conflict?

[2016-09-20 14:04] stipsan commented on #133
Bob the dev starts working on feature A while Kyle the engineer starts working on feature B.
Both of them add translations and the en_US.json file (and others) gets new entries added.

Now Bob submits a PR, all is well and it's merged without trouble.
But now Kyle will get a merge conflict when he pulls in master now that Bobs changes to the json files is added.
Kyle have to resolve them manually

[2016-09-20 14:20] tinganho commented on #133
I was meaning something specific to our l10ns's json files? What you are describing is just a general merge conflict.

L10ns currently order both entries and properties to make it more git friendly. If you are changing the same line of course a manual resolve is needed. Note, adding line padding will not resolve that.

[2016-09-21 06:49] stipsan commented on #133
Ah I see, no we're not changing the same lines. We simply add new strings to the language files at the same time.
In our project we're working on a React app. We use feature branching and require all strings in the views to be translated. Therefore we quite often add new strings to language files at the same time and that's the kind of merge conflict that would be avoided with the extra padding.
T

[2016-09-21 07:54] tinganho commented on #133
I think I need a good isolated reproducible example. With the localization files from L10ns.

[2016-09-22 04:49] laurie71 opened #134 "Cannot format value of 0 as currency"
Passing `value: { amount: 0, code: '...' }` into currency formatting results in an error, `TypeError: `value` must be an object that has properties amount and code`. The problem is that the `amount` property is checked for truthiness where the intent of the code was to check for presence: the check should be `'amount' in value` instead of `value.amount`.

This is probably an easy fix, but a seriou

[2016-09-22 06:43] tinganho commented on #134
I just published a new verison l10ns@2.4.6 to fix this problem.

[2016-09-22 06:43] #134 closed

[2016-09-22 11:41] stipsan commented on #133
Ok sure, I'll make one and post the link in this issue 👍

[2016-09-27 11:31] stipsan commented on #133
I managed to (eventually) reproduce it here: https://github.com/stipsan/l10ns-merge-conflict/pull/7
But I went ahead and tried the proposed padding solution from stack overflow and it actually made no difference: https://github.com/stipsan/l10ns-merge-conflict/pull/16/files

It's clear that this is something that likely cannot be solved in l10ns itself, it's a problem with the default merge driver

[2016-09-28 01:54] tinganho commented on #133
Thanks for doing the research.

[2016-10-03 12:08] cadesalaberry commented on #133
I was on the same path,

Sadly https://github.com/jonatanpedersen/git-json-merge/ makes no difference as it is hard for a diff engine to resolve conflicts in arrays.

Beware, when used with `l10ns`, the current  `git-json-merge` plugin can lead to data destruction...

We are trying to come up with a solution https://github.com/jonatanpedersen/git-json-merge/pull/3

[2016-10-03 12:20] cadesalaberry commented on #128
@tinganho did you have time to checkout the issue ?

As I understood it, the `json` localization files is ordered by timestamp.

if you add a language to the localization (`fr-FR`), the new localization file (`fr-FR.json`) will be ordered by key because they will all have the same timestamp.

You will then have two files with the keys in different orders.

Do you think that is where it comes from

[2016-10-03 21:37] stipsan commented on #133
@cadesalaberry thanks a lot for taking the time to share that!
I hadn't gotten around to test it out yet and your feedback helped me dodge that bullet 👌

[2016-10-04 03:33] tinganho commented on #128
@cadesalaberry I looked into the example project. Seems like the project doesn't have the key `AWARDS__CARD__SCORE__UNIT` in en-US? The file `en-US` and `es-ES` seem misaligned?

[2016-10-04 03:37] tinganho commented on #128
You could probably manually try to correct those files. By adding one entry into the other and see what happens.

[2016-10-04 12:58] cadesalaberry commented on #128
I updated the files, but the offset is still present:

![screenshot from 2016-10-04 14-50-34](https://cloud.githubusercontent.com/assets/1447513/19074856/a029d0ce-8a42-11e6-86d1-20d16605b8c5.png)

[2016-10-05 14:06] cadesalaberry commented on #128
That's because I added `es-ES` after creating my `en-US` file.

I think ordering the `json` file by key, would help avoid that bug.

[2016-10-06 05:27] mediafreakch opened #135 "Customize translate function name"
Hello,

Is it possible to customize the translate function name that the parser is looking for in the code?

Some context: I would like to use this library in VueJs templates. For this I need to attach a function to the prototype in order to be available in templates. It's common to prefix those with `$`. So ideally I can set the function name to somewhat like `$translate` or `$t`

[2016-10-06 06:57] tinganho commented on #135
You can add this entry to your l10ns.json file.
[code]

[2016-10-06 06:57] #135 closed

[2016-10-06 07:01] tinganho commented on #135
Note that this is not an official function.

[2016-10-06 07:06] mediafreakch commented on #135
Perfect, thanks. Guess would be useful to others as well and would deserve a place in the docs ;)

[2016-10-06 09:23] tinganho commented on #135
Maybe the `$` needs to be escaped also with '\\'. It's being passed as arguments to `RegExp`.

[2016-10-07 02:08] tinganho commented on #128
I think I will just use the order of the default language. And remove the timestamp entries on non-default languages. Though I think this change is quite big and more suitable for a future release.

[2016-10-07 08:06] mediafreakch commented on #135
Hey @tinganho,
There is something weird with those function names. Somehow it only works if the function name is exactly 1 character in length...

[2016-10-07 08:25] tinganho commented on #135
Could you try without `$` or escape it \\$``? I have tried with `this\\.l` in one of my projects. So multiple character should work.

[2016-10-07 08:58] mediafreakch commented on #135
I'm using the following configuration:

[code]

and my sample "view" file:

[code]

When I now run `l10ns update` the translated `de-CH.json` and `en-US.json` is just an empty array.
If I change the config to `"function": { "name": "a", "nameUsingData": "a" }` it works ( I get the keys in the json files.

[2016-10-07 10:11] tinganho commented on #135
@mediafreakch this is a bug. I published a new version `l10ns@2.4.7`. Could you give it a try?

[2016-10-07 11:22] gwildu commented on #115
@tinganho we are thinking about implementing something to sync translations of npm dependencies that we have in our projects (that also would use l10ns). It would be interesting, to see, what your strategy is to solve this issue, so we could implement something that will be compatible with what you're going to develop. When done, we could of course share our solution

[2016-10-07 11:51] mediafreakch commented on #135
@tinganho Wow that was fast. I can confirm that this is working now. What is special is that I can use the dollar sign as follows:

In view:
[code]

in config:

[code]

If I put the dollar into the config as well it doesn't work (escaped nor unescaped). Not sure if this is intentional, but anyway we can use the dollar sign as shown above.

[2016-10-07 11:54] tinganho commented on #135
Do you use this config?
[code]

[2016-10-07 12:24] tinganho commented on #115
Right now, I haven't thought so much about this issue.

But I will definitely take this up when designing `v3` of `l10ns`. Though `v3` is quite distant in the future right now. Mainly because of no time to develop, but it is also a huge undertaking, since the goal is to support multiple programming languages. And it must be rebuilt from the ground up.

[2016-10-07 12:59] mediafreakch commented on #135
Yes exactly. Accessing the function name in the view as `$trans('KEY')`. With your suggested config this doesn't work. With the one I showed above it does.

[2016-10-07 13:24] tinganho commented on #135
Strange it works for me:
[code]
[code]
I did publish another small change could you try to update to `l10ns@2.4.8`?

[2016-10-07 16:05] mediafreakch commented on #135
With the updated version it works also with the `\\$` escaping. You are awesome thanks!

[2016-10-11 08:08] cadesalaberry commented on #128
Alright, sounds good !

Are you talking about the v3 ?

[2016-10-11 13:05] tinganho commented on #128
Yes, though I'm afraid it won't be happening soon.

[2016-10-11 13:51] tinganho opened #136 "V3 Consideration"
The goal of V3 is to modernize the architecture of L10ns, support multiple programming languages and make them pluggable. A new much more productive web interface for handling complex translations.

Though there are some obstacles, like choosing a programming language. And the other find time to implement it.

I will choose new programming language for the new implementation. The goal is to find o

[2016-10-12 08:06] gwildu opened #137 "Adjust interface to be able to see all or filtered languages beside each other"
Usually in translation tools, you have several columns for each language and each user is able to select which languages he want to display, as often one translator does more than one language.

Also if some overall changes should be done, it is not so user friendly when you have to switch the language all the time.

Would be nice to have that feature in the interface.

[2016-10-12 10:07] tinganho commented on #118
I think going back to the index is the most appropriate one. I can maybe add some small recommended next translations.

[2016-10-12 10:07] #118 closed

[2016-10-12 10:07] #117 closed

[2016-10-12 10:11] tinganho commented on #105
I think I'm going to not accept this suggestion. One of the major paint points is unused localizations.

It outputs deleted keys on the standard output right now to mitigate any problems .

[2016-10-12 10:11] #105 closed

[2016-10-12 10:14] tinganho commented on #84
The web interface will definitely be split out in a future version.

[2016-10-12 10:14] #84 closed

[2016-10-12 10:15] tinganho commented on #98
This should be supported in whatever plugin for TS.

[2016-10-12 10:15] #98 closed

[2016-10-12 10:30] tkhyn opened #138 "Nested parameters / translation keys"
Hello again, I have yet another parsing problem. If I use the following:

[code]

I'd expect my translation store to contain `KEY_1` and `KEY_2` when running `l10ns update`. Here it only contains `KEY_1`.

I've tried to find some way of parsing that but it looks like it will require some sort of recursive regex pattern (!), but I'm posting this here in case somebody more knowledgeable has an idea

[2016-10-12 10:35] tinganho commented on #138
@tkhyn the translate is not that smart unfortunately. You have to use a variable.

Though choosing to use a regexp pattern instead of fully blown JS parsers it's much more powerful in my opinion. You don't have to keep track of versioning and it can even work across different programming languages.

[2016-10-12 10:35] #138 closed

[2016-10-12 10:47] tkhyn commented on #138
Ok, no problem. I did not want to question the use of a regexp, I also think it's the right approach. I was thinking that a few tweaks to the regexp approach could maybe be used to achieve the expected behavior.

[2016-10-12 11:05] tinganho commented on #138
It does quite a lot of passes right now, it is not just one regexp. It's a workflow for filtering out the keys.

[2016-10-12 22:24] tkhyn commented on #136
Glad to see you're thinking of a V3!

Have you considered Python? It's going to be around for a long time, and there are 100s of libraries available for any application. If you need performance for a part of the program, you can still program a module in C/C++.

I used to program in C++ before, and I've almost forgotten it as I'm now using the approach: "anything that does not absolutely require C

[2016-10-13 16:31] tinganho commented on #136
I'm afraid python is not suitable since it is not a statically typed language.

[2016-10-13 20:25] tkhyn commented on #136
You can add optional typing in the latest python versions. See the [typing](https://docs.python.org/3/library/typing.html) module or the [mypy](http://mypy-lang.org/) interpreter, conforming to the [PEP484](https://www.python.org/dev/peps/pep-0484/) specification.

[2016-10-24 05:59] ricardo-ci opened #139 "gsw not supported"
We tried to localize swiss german (gsw-CH) unfortuately this language is not supported by l10ns as it is not part of cldr-data package. Switching to cldr-data-full package might solve that issue. Or maybe it could be installed if needed to prevent long installation.

fyi: Even with cldr-data-full, we will still have issues because there are some lacking data for gsw on cldr site. We opened a ticke

[2016-10-24 14:00] gwildu opened #140 "gsw not supported"
We tried to localize swiss german (gsw-CH) unfortuately this language is not supported by l10ns as it is not part of cldr-data package. Switching to cldr-data-full package might solve that issue. Or maybe it could be installed if needed to prevent long installation.

fyi: Even with cldr-data-full, we will still have issues because there are some lacking data for gsw on cldr site. We opened a ticke

[2016-10-24 14:01] ricardo-ci commented on #139
Closed as opened with company account. Opened new issue as replacement: #140

[2016-10-24 14:01] #139 closed

[2016-10-25 09:29] tinganho commented on #140
L10ns already uses the full tier. If this was added in CLDR hopefully we can just switch to CLDR 31.

[2016-10-26 05:56] gwildu commented on #140
I found the reason, why I didn't get the gsw files. I installed l10ns as dev dependency, not globally. Is there a reason, why it has to be installed globally? The downside is, that you can't install it via package.json then...

[2016-10-26 06:16] tinganho commented on #140
L10ns is global program. Thus it need to be installed globally?

[2016-10-26 15:55] gwildu commented on #140
I don't get the point, maybe I'm missing something (I'm not very familiar with criteria, when a package should be globally and when not, for now dependency packages did the job for me...).

When we use it in our project and as a project dependency, it would be nice, it could be installed as dev dependency. Reasons for it, could be, when a new team member starts, he executes npm install and all dep

[2016-10-26 17:11] tinganho commented on #140
L10ns needs to be installed globally because the executable `l10ns` needs to be. Though the executable under `node_modules` might also work, though it is not the recommended way of using l10ns.

Even though l10ns is a dev dependency, it doesn't mean it needs to be under "devDependency" in your `package.json`. L10ns is not a runtime library it's a tool. And just like bower, grunt, yarn etc. L10ns a

[2016-10-28 20:27] sureshHARDIYA opened #141 "Error: Cannot find module 'internal/fs' after updating to node v7.0.0"
After updating to node v7.0.0, all of the `l10ns` commands are throwing error. When running `l1ons interface` on my machine, I get:

[code]

could get some help with it?

[2016-10-29 07:06] tinganho commented on #141
I've got some slight problem reproduice this.
[code]

[2016-10-29 07:07] tinganho commented on #141
It's probably best to wait a bit. My limited research on this bug is that it has something to do with node v7.

[2016-10-29 07:09] sureshHARDIYA commented on #141
I moved to earlier version of node and it worked. So, best solution for now is not to update node IMO.

[2016-11-08 09:24] gwildu opened #142 "cldrjs dependency not installing properly"
See https://github.com/rxaviers/cldrjs/issues/51
Suggest to restrict cldrjs to version 0.4.5 until that issue is fixed.

[2016-11-08 15:53] #142 closed

[2016-11-08 15:53] gwildu commented on #142
Closed as rxaviers/cldrjs#51 was fixed

[2016-11-08 22:43] tinganho opened #143 "Change command update to sync"
The command name for syncing localization keys between source and storage is now called `update`. This is quite confusing for new comers since the name is also ambiguous. Update can mean everything in the l10ns context, whereas sync is more specific and often meaning syncing localization keys.

[2016-11-13 16:31] vizo opened #145 "Order of source patterns matters"
Hi,

as i see l10ns is using "glob", but with custom exclusion rather than using ignore param of glob module.

I was stretching my head for two hours, why is traying to parse node_modules too...
Then i found in source code, that if you put "!" in front of pattern, it's just removing items from array .. So if array is previously empty, there is nothing to remove.

We should use glob api (they have

[2016-11-13 17:37] tinganho commented on #145
I'm not sure what you mean by glob api? Do you have a link?

[2016-11-13 18:23] vizo commented on #145
Sorry if i wasn't specific enough ...

For getting/filtering file list of source param in l10ns.json, you are using module node-glob in file https://github.com/tinganho/l10ns/blob/f1de2bd91ec56b1acd7cf6ac7ba24fb495260145/libraries/index.js#L176-L186. But you are using custom code to check if there is "!", and this lead us to make right order of patterns and less flexibility than node-glob offers .

[2016-11-13 18:34] tinganho commented on #145
Thanks for pointing this out. This will be fixed in v3 instead.

[2016-11-13 18:42] vizo opened #146 "Question: Accessing different language"
This is more like a question...

Is it possible to access different language with t function?
something like t('KEY', {language: 'en-US'}) ...

I need to access same key in different languages?

[2016-11-13 19:08] tinganho commented on #146
No it is not possible today. What are the use cases? Can you give me an example?

[2016-11-13 19:30] vizo commented on #146
1. Implementation of fallback mechanism to other locale for not translated strings, also extending with just some KEYS (e.g. en-US or en-GB missing keys fallback to en), now we have to duplicate all keys

2. Sometimes you need to show same word in different locales. For e.g. I need to show dog breeds list in all available locales that people can choose from.

[2016-11-13 19:59] tinganho commented on #146
The use cases seems legit. Though I need some time to think about it first. If it goes in it will be in v3.

[2016-11-14 10:04] Elindorath opened #147 "Add a way to list all requirable languages"
Hi tinganho,

I use l10ns for a mobile app translated in five languages.
I have to find the available language closest to the one of the phone.
For now, I just compare the two first letters, falling back to en-US by default.

In order to do so, I would find very useful if we had a way to list all supported languages (the five ones for my case). I proposed this #144 to do that, and here is the issu

[2016-11-14 13:27] tinganho commented on #147
Still this is more suitable for an external library. It shouldn't be part of L10ns. I think there should be  some library that does some language acceptance for your platform right now.

[2016-11-14 14:35] Elindorath commented on #147
Ok, there is something I probably missed, so let me summarize:
I have my codebase using the getter `l('SOME_KEY')`.
Then I perform `l10ns update` to add all new keys.
With `l10ns set ref -l lang value`, I match `value` with the key for the given `lang`.
Finally, `l10ns compile` create `all.js` (and all `lang.js`).

All these operations are performed by multiple team members at different time and t

[2016-11-14 17:07] tinganho commented on #147
The way I do it is to duplicate all languages I have written in `l10ns.json` on to some source files. Though it requires duplicate work.

It might make sense to compile it directly on the output file. I think I need some time to reflect on this first.

[2016-11-18 21:24] tinganho opened #148 "Extensions"
L10ns will load extensions by parsing a `package.json` file.

Extensions will be installed in `/usr/local/lib/l10ns/extensions` on unix computers and whatever equivalent on Windows computers. All projects share the same version of an extension.

The `package.json` files will primarily have this configuration fields:
[code]

[2016-11-18 23:58] tinganho opened #149 "L10ns project file"
[code]

[2016-11-19 11:10] tinganho opened #150 "Test Infrastracture"
The new test infrastructure for L10ns will be:

### /Extensions
Extension tests the intrinsic extensions. It tests the compiled output and parsing of keys.

When you are in an extension project:
[code]
It will output the keys discovered, by executing the extension see

[2017-01-17 16:53] malcolmvr opened #151 "Static files not served"
The interface stopped serving /vendor files for me.
I'm running node v6.9.1

I can fix by adding:
[code]
at line 51 of /configurations/app.js

The function at line 15 of /configurations/app.js is not fired.

I'm getting a warning: (node:4524) DeprecationWarning: 'GLOBAL' is deprecated, use 'global'
that does not seem to be related (I changed the GLOBAL references to global and the issue remains).

[2017-01-17 18:36] tinganho commented on #151
I cannot replicate this in node v.6.9.2

[2017-01-17 19:03] malcolmvr commented on #151
Just installed 6.9.4 and the issue remains for me.
I reverted my project to a commit that I know the interface was working on - still have the issue.
Other teammates having the same issue.

Really not sure what's up with this but is potentially a bug. Let's see if anyone else reports it.

[2017-01-17 20:11] tinganho commented on #151
I removed that check right now. Please install l10ns@2.4.9 to test it out.

[2017-01-17 21:14] malcolmvr commented on #151
Installed 2.4.9 and the issue no longer occurs.

[2017-01-17 21:35] #151 closed

[2017-03-02 15:42] tinganho opened #152 "Add sync button to the interface"
It is quite strange that we have a `compile` button but not an `update` button.

[2017-03-05 10:55] tinganho opened #153 "RPC Calls for Extensions"
We use JSON RPC to communicate with an *Extension Server*. The communication uses a TCP/UNIX socket.

There are primarily two RPC methods, `compile` and `sync`, for compiling and syncing localization keys.

## Compile

Compiles the localizations from storage to source code.

[code]
* Params:
   * _LocalizationStrings_.

## Sync

Compiles the localizations from storage to source code.

[code]
* Par

[2017-03-05 15:58] tinganho opened #154 "View Namespaced Keys"
In programming languages, we have namespaces to divide and conquer complex code.

[code]
The thing is, localization keys are global. Once defined it can be accessed everywhere, just using a key. This is bad for modularity.

It might be good to introduce namespaces to l10ns as well:

[code]

[2017-03-13 12:15] sedubois commented on #95
Have you considered using opencollective.com?

[2017-04-19 09:18] qborreda opened #155 "How to add new language"
Hi @tinganho

On an app I already have working with the use of `l10ns`, we want to implement a new language.
I have included an entry on the configuration file for the new language (pt) like
[code]
and we sent one of the used json files to be translated, so now we have a new `pt-BR.json` with the same entries and translations to Portuguese ..

Then again, `l10ns interface` refuses to load, and `l1

[2017-04-19 09:23] qborreda commented on #155
Ok, node throws a deprecation message when trying to launch `l10ns interface`
`(node:21530) DeprecationWarning: 'GLOBAL' is deprecated, use 'global'`

I've tried to remove my changes, and indeed, it's not working as it used to .. maybe that's the cause

[2017-04-19 09:29] qborreda commented on #155
I've tried with both `node 6.9` and `node 6.3`, and I'm getting the same, interface not opening the webpage ..

[2017-04-19 09:34] tinganho commented on #155
Is it showing any errors or just stalling? Could you try ti visit the link as well to make sure it is nothing with opening the browser.

[2017-04-19 09:36] qborreda commented on #155
`l10ns interface` launches the server, opens up a new tab, stalls showing white page .. no errors shown on the console.

[2017-04-19 09:45] tinganho commented on #155
I will try to take a look at this problem later today.

[2017-04-19 09:46] qborreda commented on #155
Is there anything you'd recommend me checking meanwhile?

[2017-04-19 09:52] tinganho commented on #155
hmm, I tried to reproduce the error now. And it seems to work for me. I just added `pt-BR` to my l10ns.json file.

Could you try to remove pt-BR  and its corresponding `pt-BR.json` file and see if it works?

[2017-04-19 09:56] qborreda commented on #155
I did, yes .. to no avail .. in fact, it stopped working as it were before trying to add the new language, which is worrying ..

Here is the `l10ns.json` before
[code]
We are using just one `dictionary.js` file with all the string identifiers, because we're using ES6 in our react code ..

I can't even make this one work anymore /sadface

[2017-04-19 10:02] tinganho commented on #155
OK I could reproduce it now after I reinstalled l10ns. Then it must be problem downstream perhaps. I will take a closer look later this day.

[2017-04-19 10:03] qborreda commented on #155
More data. I've conducted some experiments at a peep computer running `2.4.8`, and everything worked nicely with both `node 7.7.3` and even `node 4.4.0` ..

[2017-04-19 10:33] tinganho commented on #155
Ok I found the problem now. I will push a fix soon.

[2017-04-19 10:35] qborreda commented on #155
Bravo! Thank you mate!

[2017-04-19 11:49] tinganho commented on #155
Now, it should be fixed in 2.4.10.

[2017-04-19 11:49] #155 closed

[2017-04-19 12:55] qborreda commented on #155
Working with `2.4.10`  ... thank you man!

[2017-04-20 12:40] zdhr opened #156 "Bug in compiler output for plural keyword getter in some languages."
Hi,
plural form for czech, slovak and probably other slavic languages isn't working properly. It uses **few** only when n=2, instead of when n=2..4. While debuging this, I found out, that compiler output for plural keyword getter is most likely wrong.

This is what i get:
[code]
It returns few only when i === 2, when I change it to this, then it works correctly:
[code]

But great job on this libra

[2017-04-20 13:36] tinganho commented on #156
Hi @zdhr you are right this is a bug. I will try to fix it ASAP.

[2017-04-20 20:37] tinganho commented on #156
This should now be fixed in v2.4.11

[2017-04-20 20:37] #156 closed

[2017-05-09 15:09] tinganho commented on #133
To summarize the problem:

Two user adds a localization entry in `en.json`:
[code]
Because git is just chunking the unique code between the two commits, i.e. leaving out `files` and `variables` line. It makes it hard for us if we want to choose both of the chunks. Which happens quite often.

So we want git to be a bit smarter and maybe resolve the conflict automatically or just provide is with chu

[2017-05-11 15:12] qborreda commented on #133
Similar to this, the json generator writes new entries on top of each other, and git comes up with this mess when merging:

[code]
and the process of resolving these conflicts is so painful when two different branches use translations heavily ..

[2017-05-11 15:21] tinganho commented on #133
One solution is to create one file per localization string. Unless, we want every user of l10ns to add a proper merge driver for git to resolve these conflicts.

[2017-05-11 16:00] qborreda commented on #133
Well, we have over 240 translation strings .. translated into 5 languages.
I'm thinking we might as well work on a db and some interface that outputs the json format, and exclude the json files from the git repo ..

[2017-05-19 12:38] cadesalaberry opened #157 "Cannot build branch c++"
[code]

[2017-05-19 13:01] tinganho commented on #157
I think you are missing the git submodules.

[2017-05-23 07:04] #157 closed

[2017-05-24 11:12] krailler opened #159 "Unable to parse with break lines and trailing commas"
I use airbnb eslint, and it use the following rule: http://eslint.org/docs/rules/comma-dangle

I am writing code with trailing commas but l10ns can't parse it...
[code]

l10ns only parse if has not  trailing commas
[code]

Any help or update?
PD: Sorry for my english

[2017-05-29 12:12] tinganho commented on #159
Unfortunately, l10ns doesn't support trailing commas right now. Though, in the next version we will have an embedded JS parser to deal with this.

[2017-06-05 08:28] cvlmtg opened #160 "can't install on node 8"
Hi, I've tried to install l10ns on node.js 8 and this is what happens (it installs fine with node 6.10.2)

[code]

[2017-06-08 15:04] tinganho commented on #160
I think I will just wait a bit with this one. I remember node 7 had similar problem during its launch.

[2017-06-08 15:13] cvlmtg commented on #160
👍

[2017-06-12 10:45] qborreda commented on #159
@krailler - you are invoking the `l` function here .. how comes your eslint includes an extra comma? Have you taken a look at `prettier` yet?

[2017-06-23 14:04] tinganho commented on #133
Anyone running into this problem might mitigate it by applying diff3 style to your git config, to show common ancestor: https://github.com/Microsoft/TypeScript/issues/16129.

[2017-06-26 20:19] tinganho commented on #160
tracked here https://github.com/rxaviers/cldr-data-downloader/issues/24

[2017-06-27 21:03] #141 closed

[2017-06-27 21:04] tinganho commented on #140
Closing because it seems solved.

[2017-06-27 21:04] #140 closed

[2017-06-27 21:09] gwildu commented on #140
Yes, the ticket on unicode has ben solved. I will try to find some time for testing it, but I guess it should work now.

[2017-06-28 05:57] batiste opened #161 "Sever side rendering is using the local machine time"
Hi there,

Great package. We use it since some time here at work. I have a problem with the date conversion. When I don't precise the timezone the date is given relative to the local time on the machine.

I would like to know if it would be possible to force a timezone in the configuration so I have consistent date output without having to explicitly express the timezone?

[2017-06-28 06:39] tinganho commented on #161
Hi @batiste ,

There is a way of forcing the timezone, by providing an object literal containing both the time and and the timezone like below:

[code]
Then on the l10ns interface you have access to the variable `startTime`, where you can do your date formatting.

You can also checks the docs for date format:
http://l10ns.org/docs.html#dateformat

[2017-06-28 06:40] tinganho commented on #161
Oh sorry, I didn't read the whole question. No, there is currently noway of doing that.

[2017-07-26 13:48] qborreda commented on #137
I concur. I don't think anyone is going to have a 10+ different locale app, so it should be possible to have all key translations in just one page instead of going through all by selecting on the top right dropdown at the interface.

Suggestion:
- reduce the input space
- let all possible languages have their own input field one after the other
- have just one `save` button for them all

[2017-07-26 14:07] qborreda opened #162 "v3 Suggestion: split translations from library code"
We are currently using l10ns on a medium webapp, a dashboard, in 5 languages, with more than 300 string ids. So far, we have been using the `output/all.js` file, but it has become too large to include into the bundle, so it's imperative for us to start loading the different locale files instead.

Would there be a way in v3 to have the different methods for internationalization split from the langu

[2017-07-26 20:22] tinganho commented on #137
Thanks, I understand the problem. The current UI was my first shot on the complex landscape of localization.  I will definitely consider this for V3.

[2017-07-26 20:32] tinganho commented on #162
The compiled output should still be the targeted programming language, which in this case is JS. And the goal is to have as little abstraction as possible and thus there shouldn't be a big difference between having everything in JSON file vs. having everything JS files. Right now, that goal isn't accomplished. Though, I have more experience with compiler architecture now, than I had back when I di

[2017-09-11 08:47] batiste commented on #133
Wouldn't changing the format to use a map of keys solve this problem?
It seems that internally the code is using a map anyway.

[2017-09-11 09:01] batiste commented on #133
Here is a proposed PR https://github.com/tinganho/l10ns/pull/165

[2017-09-11 09:19] tinganho commented on #133
I think it depends. If everything is one line yes(though, I don't think we want that).

[code]
But, I think in the above case Git wants to collapse the "variables" line and the "}," line. Anyone that wants to just add both "UNIQUE_KEY_1" and "UNIQUE_KEY_2" to each store needs to re-add those lines to resolve the conflict.

We could actually have our own file format instead of using JSON and have u

[2017-09-11 13:54] batiste commented on #133
@tinganho you might be right the map doesn't really solves the problem. I an unsure about a new file format.. That seems like an over engineered solution. I my experience those conflicts happen a lot because all the new stuff is inserted at the top of the file so this a recipe for conflicts. If the insertion order in the array would be random that would reduce the chance for conflicts enormously.

[2017-09-11 14:01] batiste commented on #133
I believe a solution as simple as this would probably avoid the majority of conflicts:

https://github.com/batiste/l10ns/commit/5c201e840cba99d26d822fea98565ca7672a498f

If the key is random or pseudo random, then when the number of key increase the risk of conflict would decrease? Sorting by date might be the source of all those conflicts...

[2017-09-11 17:31] cadesalaberry commented on #133
This might work pretty well with a custom git merger now that it is not and array anymore.

https://www.npmjs.com/package/git-json-merge

[2017-09-11 17:59] tinganho commented on #133
@batiste I think you are right, sorting by date is the root cause of all the conflicts here. And if we sort by key, it would significantly reduce the conflicts. Though, there is still a slight chance of a conflict when it sorts each entry to be of the same row. Let me just think a bit about the implications. And I might add your commit.

@cadesalaberry I think I commented on custom git mergers bef

[2017-09-18 12:21] batiste commented on #133
No news on this? We could really benefit from a change in our team...

[2017-09-18 12:23] tinganho commented on #133
I will have closer look later today or tomorrow, and probably merge it in if I cannot find any issue.

[2017-09-18 14:51] cadesalaberry commented on #133
@tinganho It supports reading js files, but it will always write the file as JSON.
I understand your worry, It's true it would only work for JSON.

@SPARTED We ended up running this script after each translation and l10ns update. This is only temporary, but is so much better when it comes to merge conflicts.

**./scripts/l10ns-inline.js**
[code]

[2017-09-19 20:34] tinganho commented on #133
I now published a new version of l10ns that sorts by key. Let me know if there is any problem. Thanks @cadesalaberry and @batiste to your prior research on this.

I'm still keeping this issue open. I'm a bit interested in introducing a new fileformat in the future to make this problem disappear for good.

[2017-09-20 12:11] batiste opened #166 "Suggestions: migrate to a file format that is compatible with Phraseapp"
Example of supported format

https://phraseapp.com/docs/guides/formats/

[2017-10-04 23:25] tinganho commented on #133
I've just tried to add unique lines on start and end of each entry. And it doesn't auto resolve the conflicts.

<img width="919" alt="screen shot 2017-10-05 at 01 14 07" src="https://user-images.githubusercontent.com/1324476/31204175-d9485446-a96a-11e7-806b-989913f7999d.png">

I think we have to resolve to @cadesalaberry's solution with a custom merge tool to git https://git-scm.com/docs/gitattrib

[2017-10-04 23:29] tinganho commented on #133
Maybe the merge strategy `union` is a solution for this problem: https://git-scm.com/docs/gitattributes#gitattributes-union

[2017-10-10 09:30] jackTheRipper commented on #160
Hi,

I was able to fix the issue with the `deepEqual` by upgrading my dependencies as it follows:

[code]

However, when I am running `npm i -g l10ns`, I am facing another issue saying:

[code]

The issue happens **only** when I am using the `-g` flag.

I am using Node 8.6.0 and NPM 5.4.2.

As a workaround, I am now running in my Docker image the following commands to make `l10ns` available global

[2017-10-10 09:34] tinganho commented on #160
I can try to update to CLDR 31 to see if it resolves the problem.

[2017-10-10 11:21] jackTheRipper commented on #160
@tinganho : this should fix the original issue. But you will still have the one attached to `-g` flag

[2017-10-21 11:22] tinganho commented on #160
@jackTheRipper suggestion seem to work. I published a new version of l10ns.

[2017-10-21 12:44] tinganho commented on #160
Actually I'm getting the error `Whops ENOENT: no such file or directory, chmod '/usr/lib/node_modules/l10ns/node_modules/cldr-data/.gitattributes'`

[2017-10-21 18:29] tinganho commented on #160
It seems like this is related to some npm permission issues. See https://github.com/rxaviers/cldr-data-downloader/issues/24#issuecomment-338419717

[2017-10-22 11:14] ghost commented on #160
Hi @tinganho, the issue you have is the one I described when you try to perform an installation with `node i -g l10ns`.

I explained in this issue how to tricks it. But it's a hack. I hope the issue you referenced will be fixed soon.

[2017-10-25 10:03] cvlmtg opened #167 "latest version breaks install / running of apps"
Hi, looks like the latest version of l10ns breaks with this error:

[code]

[2017-10-25 11:15] qborreda commented on #167
Happens to us as well. Had to fall down to 2.4.11

[2017-10-26 12:30] sveinhal commented on #167
Same issue. Breaks in ea8922dcca3c9ae5b61ff520fc4bbf3223c90c77

[2017-10-26 17:53] tinganho commented on #167
The latest should have pointed to 2.4.11. Sorry for the inconvenience. It should be fixed now.

[2017-10-26 17:53] #167 closed, assigned to nobody

[2017-12-04 16:17] cadesalaberry commented on #133
Yes, I had a look at it as well, but it is not always consistent when merging.

When you have duplicate keys, `l10ns update` will only keep the first occurrence (if I remember well), which is not always right.

We are looking at a way to interact with git to get a smoother merge experience. I will get back to you once we get results.

[2018-01-29 13:51] giorgiobeggiora opened #168 "Search fails with underscore"
If i search one of the following:

FACETS->REMOVE_FILTERS_BUTTON
FACETS->REMOVE_

no result is displayed.

But if i search:

FACETS->REMOVE

the following result is correctly shown:

FACETS->REMOVE_FILTERS_BUTTON

So it seems to me that the underscore is causing problems.

[2018-01-30 13:03] tinganho commented on #168
I use lunr.js for this and I remember that I had problem configure it the way you want.

[2018-01-31 15:21] giorgiobeggiora commented on #168
Is there a solution?
Will this be fixed?
Thanks.

[2018-04-12 13:51] D4rkL1ch opened #169 "Cannot find module 'cldr-data/defaultContent.json'"
Hey,
I am using l10ns library and today I noticed that none of the commands are working. Whenever I try to search, update or call interface I get error:
[code]
I have version 2.4.11 installed, I tried to install version 2.4.41, but I get same error.
Is there anyway to fix this?

[2018-04-12 18:04] tinganho commented on #169
Which node version are you using?

[2018-04-13 06:53] D4rkL1ch commented on #169
Node version is 9.9.0.

[2018-04-13 13:44] malcolmvr commented on #160
Still seeing this issue with node 8.11.1 and npm 5.6.0. Can the cldr-data dependency be upgraded to the latest?

[2018-04-13 13:59] tinganho commented on #160
@malcolmvr upgrading to the latest CLDR doesn't solve the problem. I'm sorry for the inconvenience.

As I recalled it, there was a problem with NPM. I've tried multiple times to tackle this issue. Without getting a solution.

This is the relevant comment:
https://github.com/rxaviers/cldr-data-downloader/issues/24#issuecomment-338419717

[2018-04-13 15:23] tinganho commented on #160
Upgrading it won't solve the problem though. Sorry for the inconvience. But I think this problem resides in NPM. I've spent quite a lot of time trying to resolve this issue, but without any success so far.

[2018-05-02 07:25] D4rkL1ch commented on #169
Hey, bumping the issue.
Did you manage to check what might be an issue?

[2018-05-02 07:49] tinganho commented on #169
@D4rkL1ch Right now, I only get the error https://github.com/tinganho/l10ns/issues/160. Which I don't really know how to fix. I think NPM changed something.

But I guess your OS is not Mac? Which OS are you using?

[2018-05-04 12:49] D4rkL1ch commented on #169
I am using Windows and node.js for Windows. My colleagues using Linux also do get that error.

[2018-05-07 13:24] rhalukongor commented on #169
I remember facing the same thing. IIRC `cd node_modules/cldr-data && npm install` fixes it.

Check it here:
https://github.com/tinganho/l10ns/issues/117

[2018-05-07 15:10] tinganho commented on #169
I will try to check this out as soon as I can, though I usually cannot get pass #160. I might endup inlining the whole CLDR data node_module.

[2018-05-08 10:53] D4rkL1ch commented on #169
@rhalukongor thanks, that does work.

[2018-09-14 03:57] hexadecy commented on #169
@tinganho can you please publish a working version for node8+ on npmjs?

"cldr-data": "33.0.0" works for me.
I fork it: [hexadecy/l10ns](https://github.com/hexadecy/l10ns)
But I don't know how to correctly build this project...

[2018-09-16 14:43] tinganho commented on #169
@hexadecy I published a new version. Could you give it a try?

On Mac I have to run with `--unsafe-perm` flag:
[code]

[2018-09-16 14:46] tinganho commented on #160
I think l10ns now works with node 8. I updated cldr-data package.

On Mac I have to run with the `--unsafe-perm` flag:
[code]

[2018-09-16 14:46] #160 closed

[2018-09-17 00:56] hexadecy commented on #169
@tinganho yes it works on Windows 10, node v8.11.3 and npm 6.4.1.
Command prompt as **administrator**:
[code]

[2018-09-19 20:09] #169 closed, assigned to nobody

[2021-10-26 07:19] abhijit-padhy opened #172 "Failed at the cldr-data@31.0.2 install script"
`cldr-data@31.0.2` package installation fails in my application. I tried removing node_modules folder and reinstalling different versions of `cldr-package` with different node versions (using nvm 0.39.0) but all fail. I installed the latest package one time but it threw error "missing file 'cldr-data/availableLocales.json'".

Currently I am using:
node: 12.10.0
npm: 6.10.3
zsh shell in terminal
ma

[2021-10-26 07:38] abhijit-padhy commented on #172
Probably wrong place to raise this issue. So I duplicated it [here](https://github.com/rxaviers/cldr-data-npm/issues/74) and closing this ticket.

[2021-10-26 07:38] #172 closed, assigned to nobody

[2022-01-07 15:24] GEMI commented on #172
Same here.